# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List some libraries used by Data Scientists
* List popular Tools used for Data Science
* Show how to evaluate arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala
6. C

Some of the commonly used libraries used by Data Scientists include: 1. Pandas
 2. Numpy
 3. Plotly
 4. Scikit-learn

|Data Science Tools |
| -----|
| Jupyter Notebook |
| Apache Spark|
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [26]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [30]:
minutes_to_hours = 200/60
#This will convert 200 minutes to hours by diving by 60
print(minutes_to_hours)

3.3333333333333335

## Author
Jorge Zat√≥n